<h1 id="contact-header">Contact Us</h1>
<p class="contact-message">Come meet our family, or reach out to us at this number or address! We'd love to answer your bike-related questions, and to help you find your perfect bike!</p>
<p class="tel-num">+55 55 55555</p>
<p class="address">Osten Str. 22 44444 Berlin, Germany</p>
<%= image_tag("rows_bikes.jpg", class: "img-responsive contact-image my-image") %>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you", :class => "contact-form") do %>
<div class="row">
  <div class="col-md-4 col-xs-12">
  </div><!-- end left column -->
  <div class="col-md-4 col-xs-12">
    <div class="form-group">
      <%= label_tag :name %>
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
    </div><!-- end form group 1 -->
    <div class="form-group">
      <%= label_tag :email, "Email Address" %>
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
    </div><!-- end form group 2 -->
    <div class="form-group">
      <%= label_tag :message %>
      <%= text_field_tag :message, nil, class: "form-control message-box", placeholder: "Enter Message" %>
      <%= submit_tag "Send" %>
    </div><!-- end form group 3 -->
  </div><!-- end center column -->
  <div class="col-md-4 col-xs-12">
  </div><!-- end right column -->
</div><!-- end row -->

<% end %>