<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
    </div><!-- end col 1 -->
    <div class="col-md-4 col-xs-12">
      <div class="field">
        <%= f.text_field :first_name, placeholder: "First Name" %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, placeholder: "Last Name" %>
      </div>

      <div class="actions">
        <%= f.submit :class => "btn btn-secondary" %>
      </div>
    </div><!-- end col 2 -->
    <div class="col-md-4 col-xs-12">
    </div><!-- end col 3 -->
  </div><!-- end row -->
</div><!-- end container -->
<% end %>
