<h2 id="login-header">Please Log In</h2>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
    </div><!-- end col 1 -->
    <div class="col-md-4 col-xs-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field login-form">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="field login-form">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field login-form">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", :class => "btn btn-secondary" %>
        </div>
      <% end %>
    </div><!--end col 2 -->
    <div class="col-md-4 col-xs-12">
    </div><!-- end col 3 -->
  </div><!-- end row -->
</div><!-- end container -->

<%= render "devise/shared/links" %>
