<div class="col-md-4 col-xs-12 prod-listing">
  <div class="product">
    <div><%= image_tag(product.image_url, class: "product-img-col") %>
    </div>
    <div class="prod-name"><%= product.name %>
    </div>
    <div class="description"><%= product.description %>
    </div>
    <div class="prod-color"><%= product.colour %>
    </div>
    <div class="prod-price">$<%= product.price %>
    </div>
    <div class="links">
      <div class="action-link"><%= link_to 'Show', product %>
      </div>
      <div class="action-link"><%= link_to 'Edit', edit_product_path(product) %>
      </div>
      <div class="action-link"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div><!-- end links -->
  </div><!-- end product -->
</div><!-- end column -->