<p id="notice"><%= notice %></p>

<p class="show-p">
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p class="show-p">
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p class="show-p">
  <strong>Image:</strong>
  <%= image_tag(@product.image_url, class: "product-img") %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
