<!DOCTYPE html>
<html>
  <head>
    <title>MyRailsProject</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid anchor">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <nav class="projectName navbar-brand">
            <a class="projectname" <%= link_to "Bike Berlin", static_pages_index_path %></a>
          </nav><!-- end projectName -->
        </div><!-- end navbar header -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav nav-pills">
            <li role="presentation" class="active"><a id="home-button" <%= link_to "Home", static_pages_landing_page_path %></a><span class="sr-only">(current)</span></li>
            <li role="presentation" class="active"><a <%= link_to "About", static_pages_about_path %></a><span class="sr-only">(current)</span></li>
            <li role="presentation" class="active"><a <%= link_to "Contact", static_pages_contact_path %></a><span class="sr-only">(current)</span></li>
            <li role="presentation" class="active"><a <%= link_to "Products", products_path %></a><span class="sr-only">(current)</span></li>
             <li role="presentation" class="active"><a <%= link_to "Users", users_path %></a><span class="sr-only">(current)</span></li>
            <li> 
              <%= form_tag("/products", method: "get", :id => "search-nav") do %>
                <%= label_tag(:q, "Search for:", :class => "search-box") %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Search") %>
              <% end %>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path) %>
              <% end %>
            </li>
          </ul>
        </div><!-- end div navbar-collapse -->
      </div><!-- end container -->
    </nav>

    <div class="error-notices">
      <div class="notice" role="notice">
        <% if notice %>
          <p id="notice" class="alert alert-info"><%= notice %></p>
        <% end %>
      </div>
      <div class="alert" role="alert">
        <% if alert %>
          <p id="alert" class="alert alert-info"><%= alert %></p>
        <% end %>
      </div>
    </div>

    <div class="page-wrap">
      <%= yield %>
    </div><!-- end page wrap -->
    <footer class="site-footer">&copy; 2016 Samantha Tymon
    </footer>
      <!-- ============================= -->
      <!-- All your JavaScript comes now -->
      <!-- ============================= -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Bootstrap core JS -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     
       <!-- Can place script tags with JavaScript files here -->
      <%= javascript_include_tag "application" %>
  </body>
</html>
